main{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    align-content: center;

}
    /* contenedor de textareas */
.textarea__section{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 28rem;
    width: 100%;
}

.write__section{
    display: flex;
    flex-direction: column;
    width: 57%;
    gap: 10px;
}

textarea{
    height: 100%;
    resize: none;
}

/* textareas de visualización */
.visualization__section{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
}

.button__container{
    display: flex;
    height: 60px;
    justify-content: space-around;
}

button{
    width: 30%;
}

#textarea_3{

}